development:
  paypal_environment: 'sandbox'
  paypal_merchant_id: 'your-own'
  paypal_public_key: 'your-own'
  paypal_private_key: 'your-own'

production:
  paypal_environment: 'production'
  paypal_merchant_id: 'your-own'
  paypal_public_key: 'your-own'
  paypal_private_key: 'your-own'
