
<h1>產品列表</h1>

<% @products.each do |product| %>
<ul>
  <%= link_to 'Add Cart', add_cart_path(product.id), method: 'put' %>
  <li>產品名稱： <%= product.title %> </li>
  <li>產品金額： <%= product.price %> </li>
  <li>產品敘述： <%= product.description %> </li>
</ul>
<hr>
<% end %>